@font-face {
  font-family: "Determination";
  src: url('https://lilithdev.neocities.org/determination.woff') format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pixelmplus12";
  src: url('https://lilithdev.neocities.org/fonts/pixelmplus12-regular-webfont.woff') format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pixelmplus12";
  src: url('https://lilithdev.neocities.org/fonts/pixelmplus12-bold-webfont.woff') format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: "Pixelated MS Sans Serif";
}

header {
  margin-top: 32px;
  margin-bottom: 16px;
  display: flex;
}

main {
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

p {
  margin: 10px 0;
}

.middle {
  border: none;
  height: 100%;
  width: 50%;
  /*padding-top: 20px;*/
  padding-bottom: 20px;
}

.left, .right {
  width: 25%;
  padding: 20px;
  /*padding-top: 40px;*/
}

.sidebar {
  border: none;
  height: 100%;
  width: 100%;
}

/*.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

.center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grow {
  flex: 1;
}

section {
  margin-bottom: 20px;
}

#header-name {
  max-width:100%;
  max-height:100%;
  /*position: relative;
  left: 8px;*/
}

#opening {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  width: 50%;
}

#webcam {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}

#pfp {
  float: right;
  margin: 4px;
  border: 2px solid var(--lilith-border-color);
}

#desktop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  grid-auto-rows: minmax(100px, auto);
  /*position: absolute;*/
  float: left;
  position: absolute;
  margin: 32px;
  color: var(--lilith-border-color);
}

.app {
  display: block;
  margin: 0 auto;
  text-align: center;
  cursor: url("https://lilithdev.neocities.org/click.png"), auto;
  font-size: 16px;
  /*font-weight: bold;*/
  text-decoration:none;
  color: var(--lilith-border-color);
  font-family: "Determination";
}

.app > img {
  display: block;
}

#player-play-region {
  display: flex;
  justify-content: center;
  gap: 16px;
}

#music-link {
  position: relative;
  top: -22px;
  float: left;
}

#music-dance {
  position: relative;
  top: -50px;
  float: right;
}

#player-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  font-family: "Determination";
}

#player-subtitle {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: "Determination";
}

#player {
  display: none;
}

#player-title-region, #player-play-region {
  margin: 8px;
}

#music-prev, #music-toggle, #music-next, a {
  cursor: url("https://lilithdev.neocities.org/click.png"), auto;
}

body {
  background: linear-gradient(rgb(251,220,220,.15),rgb(251,220,220,.15)),url('https://lilithdev.neocities.org/index/wallpaper.png');
  cursor: url("https://lilithdev.neocities.org/cursor.png"), auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: calc(100% - 8px);
  height: 32px;
  background-color: var(--lilith-task-color);
  padding: 4px;
  border-top: 2px solid;
  border-color: white;
  display: inline;
}

#taskbar {
  display: flex;
  gap: 4px;
  align-items: center;
}

.vl {
  width: 2px;
  height: 30px;
  border: 2px solid var(--lilith-border-color);
  border-top: 0;
  border-left: 0;
  background: whitesmoke;
}

.banners {
  flex: 1;
}

.site-date {
  border: 2px solid;
  /* top | right | bottom | left */
  border-color: var(--lilith-border-color) whitesmoke whitesmoke var(--lilith-border-color);
  padding: 2px;
}

#updates {
  overflow-y: auto;
  max-height: 240px;
  
  /*Firefox scrollbar*/
  scrollbar-color: var(--lilith-scrollbar-inner-color) var(--lilith-scrollbar-outer-color);
  scrollbar-width: thin;
}

/*Chrome scrollbar*/
/* width */
#updates::-webkit-scrollbar {
  width: 8px;
}

/* Track */
#updates::-webkit-scrollbar-track {
  background: #C5EAFC; 
}
 
/* Handle */
#updates::-webkit-scrollbar-thumb {
  background: #DB8ED6; 
}

/* Handle on hover */
#updates::-webkit-scrollbar-thumb:hover {
  background: #B471B0; 
}

#webring {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

@media (max-width: 1250px) {
  header {
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #desktop {
    float: initial;
    position: initial;
    margin: initial;
  }
}

@media (max-width: 960px) {
  main {
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /*.left, .middle, .right {
    padding: 20px;
  }*/
  
  .middle {
    width:95%;
  }
  
  .left, .right {
    width:75%;
  }
}
